<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/9e63771fdd.js" crossorigin="anonymous"></script>
    <title>EMILIA COLE</title>
</head>
<body id="ABOUT">
    <nav class = "menu-general">
        <ul>
        <li ><a href="/">HOME</a></li>
        <li ><a href="/about">ABOUT</a></li>
        <li ><a href="/music">MUSIC</a></li>
        <li ><a href="/contact">CONTACT</a></li>
        </ul>
        </nav>
        <nav class="redes">
        <ul>
            <li ><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter" style="color: #000000;"></i></a></li>
            <li ><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-square-facebook" style="color: #000000;"></i></a></li>
            <li ><a href="https://www.spotify.com/" target="_blank"><i class="fa-brands fa-spotify" style="color: #000000;"></i></a></li>
            <li ><a href="https://www.apple.com/" target="_blank"><i class="fa-brands fa-apple" style="color: #000000;"></i></a></li>
            <li ><a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon" style="color: #000000;"></i></a></li>
            <li ><a href="https://www.instagram.com/" target="_blank" ><i class="fa-brands fa-instagram" style="color: #000000;"></i></a></li>
        </ul>
        </nav>
        <section id="textos">
            <h1>ABOUT <br> EMILIA//</h1>
            <h3>"Seattle-based pop star makes her <br> indie debut with a hauntingly beautiful album"</h3>
            <p>- John Tirckle,Music Today Post</p>
            <br>
            <h3>"Emilia Cole is one of the <br>scene's breakout stars"</h3>
            <p>- John Tirckle,Music Today Post</p>
        </section>
</body>
</html>