    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script
        src="https://kit.fontawesome.com/9e63771fdd.js"
        crossorigin="anonymous"
        ></script>
        <title>EMILIA COLE</title>
    </head>
    <body>
        <header id="top">
        <img src="img/emilia-music-top.jpg" alt="emilia-music" />
        <nav>
            <ul>
            <li type="none"><a href="/">HOME</a></li>
            <li type="none"><a href="/about">ABOUT</a></li>
            <li type="none"><a href="/music">MUSIC</a></li>
            <li type="none"><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
        <ul>
            <li type="none">
            <a href="https://twitter.com/" target="_blank"
                ><i class="fa-brands fa-twitter" style="color: #000000"></i
            ></a>
            </li>
            <li type="none">
            <a href="https://www.facebook.com/" target="_blank"
                ><i class="fa-brands fa-square-facebook" style="color: #000000"></i
            ></a>
            </li>
            <li type="none">
            <a href="https://www.spotify.com/" target="_blank"
                ><i class="fa-brands fa-spotify" style="color: #000000"></i
            ></a>
            </li>
            <li type="none">
            <a href="https://www.apple.com/" target="_blank"
                ><i class="fa-brands fa-apple" style="color: #000000"></i
            ></a>
            </li>
            <li type="none">
            <a href="https://www.amazon.com/" target="_blank"
                ><i class="fa-brands fa-amazon" style="color: #000000"></i
            ></a>
            </li>
            <li type="none">
            <a href="https://www.instagram.com/" target="_blank"
                ><i class="fa-brands fa-instagram" style="color: #000000"></i
            ></a>
            </li>
        </ul>
    </section>
        <>
        <h1>MUSIC //</h1>
        <p>Direct Links</p>
        <ul>
            <li type="none"><a href="#DISCO">Album</a></li>
            <li type="none"><a href="#ORGANIC"> Video: Organic Love</a></li>
            <li type="none"><a href="#STREET">Video: Street Light</a></li>
        </ul>
    </section>
        <section ID="DISCO">
        <h4>ALBUM <br />TWIST IN MY REALITY</h4>
        <img src="/img/emilia-play-list.png" alt="TWIST REALITY" />
        <ol>
            <li>▶ Organic Love | 02:40</li>
            <li>▶ Twist In My Reality | 02:10</li>
            <li>▶ Street Light | 03:28</li>
            <li>▶ Love Don't Live Here Anymore (Cover) | 03:49</li>
        </ol>
        <a href="#top">Go Top</a>
        </section>
        <section id="ORGANIC">
        <h4>VIDEO <br />ORGANIC LOVE</h4>
        <iframe
            src="https://player.vimeo.com/video/135166028?h=fdb0646ae5"
            width="640"
            height="360"
            frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture"
            allowfullscreen
        ></iframe>
        <p>
            Direct by Vince MALC & EMILIA COLE <br />
            Edited and Filmed by NICOLAS TROY<br />
            Produced by NIKI HEART, <br />Wix Films LTD
        </p>
        <a href="#top">Go Top</a>
        </section>
        <section id="STREET">
        <h4>VIDEO <br />STREET LIGHT</h4>
        <iframe
            src="https://player.vimeo.com/video/134861419?h=24e3183108"
            width="640"
            height="360"
            frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture"
            allowfullscreen
        ></iframe>
        <p>
            Direct by Vince MALC & EMILIA COLE <br />
            Edited and Filmed by NICOLAS TROY<br />
            Produced by NIKI HEART, <br />Wix Films LTD
        </p>
        <a href="#top">Go Top</a>
        </section>
    </body>
    </html>
